.products_page{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    margin-top: 15px;
    
}
@media only screen  and (max-width:600px) {
    .products_page{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 15px;
        
    }
    
}