.single_product{
    justify-content: center;
    padding: 32px 48px;

}
.single_product_thumbnails{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 14px;
    padding: 8px;
    margin: 16px;
}
.single_product_thumbnails img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.single_product_display{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;

}
.selected_image{
    transform: scale(1.12);
}
.single_product_details{
    width: 35%;
    padding: 13px 20px;
}
.single_product_title{
margin-bottom: 16px;
font-size: 32px;

}
.single_product_description{
    margin-bottom: 16px;
    line-height: 1.4;
}
.single_product_price{
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;

}
.quantity_title{
    font-style: 20px;
    font-weight:700;
}

 .quantity_input {
    font-size: 20px;
    font-weight: 700;
    margin: 15px  0px;

}

.add_cart{
    width: fit-content;
    padding: 8px 18px;
    box-shadow: 0px 2px 20px #6457f989;
}